*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
$mainBlack: #222;
$mainGreen:#82b340;
$mainWhite: #fff;
$mainGrey: #ececec; 
$mainBackground: #233353;

body{
    background: $mainBackground;
    color: $mainBlack;
    font-family: 'Roboto', sans-serif;
}